@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
:root {
  --primary-color: #bfdbfe;
}

nav {
  background-color: var(--primary-color);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-image {
  padding: 2rem;
  height: 5rem;
}

#nav-heading {
  color: white;
}

body {
  margin: 0;
  font-size: large;
  /*border: #ffd700 solid 10px;*/
}

.main {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
}

textarea {
  display: block;
  width: 100%;
  margin-top: 2rem;
  height: 15vh;
  font-size: large;
  border: #bfdbfe solid 10px;
}

button {
  background-color: var(--primary-color);
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  border: none;
  font-size: large;
  border: #000 solid 10px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
}

#div-output {
  overflow: scroll;
  height: 15vh;
  width: 100%;
  border: #bfdbfe solid 10px;
  margin-top: 1rem;
}

footer {
  background-color: var(--primary-color);
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: auto;
  max-width: 600px;
  font-family: "Nanum Myeongjo", serif;
}
